@font-face {
    font-family: "Font";
    src: url("/static/fonts/Roboto-Regular.ttf");
}


body {
    margin: 0;
    padding: 0;
    color: #85144B;
    font-family: "Font";
}

ul {
    background-color: #01ff70;
    list-style-type: none;
    display: flex;
    padding: 15px;
    margin: 0;


}


.category {
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    color: #85144B;
    padding: 15px;
}

.category:hover {
    color: #01ff70;
    background-color: #85144B;
}

#add {
    font-size: 30px;
    padding: 10px 15px;
}



.heading {
    padding-top: 30px;

    font-size: 60px;
    
}

.name-buttons {
    display: flex;
    align-items: center;
}

.name-buttons a {
    margin-top: 30px;
    margin-left: 20px;
}


#edit-cat {
    padding: 10px 15px;
    background-color: rgb(255, 128, 0);
}

#edit-cat:hover {
    background-color: white;
    color: rgb(255, 128, 0);
}


#delete-cat {
    padding: 10px 15px;
    background-color: red;
}

#delete-cat:hover {
    background-color: white;
    color: red;
}


main {
    padding: 0 50px;
}

.fanfik {
    margin-bottom: 50px;
    padding: 25px;
    padding-top: 10px;
    background-color: #01ff70;
    border-radius: 25px;
}

.name {
    font-size: 35px;
}

.text {
    font-size: 25px;
    padding-bottom: 15px;
}

.button {
    font-size: 30px;
    background-color: rgba(246, 82, 126, 0.803);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 15px;
}
.button:hover {
    color: rgba(246, 82, 126, 0.803);
    background-color: white;
}

#likes {
    padding: 10px 15px;
}

#edit {
    padding: 10px 15px;
    background-color: rgb(255, 128, 0);
}

#edit:hover {
    background-color: white;
    color: rgb(255, 128, 0);
}


#delete {
    padding: 10px 15px;
    background-color: red;
}

#delete:hover {
    background-color: white;
    color: red;
}






