<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/static/style/style2.css">
    <title>Изменение фанфика</title>
</head>
<body>
<h1 class="title">Изменение фанфика "{{name}}"</h1>
<form class="form" method="post" action="/edit_fanfic/{{category}}/{{fanfic}}">
    <h2>Новое название фанфика (необязательно)</h2>
    <input type="text" class="name" name="name">

    <h2>Новый текст фанфика (необязательно)</h2>
    <textarea name="text" class="text" cols="100" rows="10"></textarea>

    <button>Изменить</button>

    <h2>{{message}}</h2>
</form>
</body>
</html>