<html>
<head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="/static/style/style.css">
</head>
<body>

<header class="header">
    <ul>
        {% for i in titles %}
        <li>
            <a href="/{{loop.index - 1}}" class="category">{{i}}</a>
        </li>
        {% endfor %}
        <li>
            <a class="button" id="add" href="/add_category_form">Добавить</a>
        </li>
    </ul>
</header>

<main>
    <h1 class="heading">{{title}}</h1>

    {% for i in arr %}
    <div class="fanfik">
        {% if i['likes'] >= 100 %}
        <h2 class="name">{{i['name'] + "🔥"}}</h2>
        {% else %}
        <h2 class="name">{{i['name']}}</h2>
        {% endif %}
        <p class="text">{{texts[loop.index - 1]}}</p>
        <div>
            <a href="/category/{{index}}/fanfic/{{loop.index-1}}/like" class="button" id="likes">{{i['likes']}}</a>
            <a href="#" class="button" id="edit">Изменить</a>
            <a href="delete/{{index}}/{{loop.index-1}}" class="button" id="delete">Удалить</a>
        </div>
    </div>
    {% endfor %}

</main>

</body>
</html>